.button {
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  text-align: left;
  display: block;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 2px #ddd;

  &:hover {
    background: darken(#fff, 5%);
  }
}
